/target
/database/garage/data
/database/garage/meta
/database/keydb/data
/database/kvrocks/data
/database/kvrocks/log
./logs
/protocol/src/client/cmd.proto
/protocol/src/client/error.proto
/protocol/src/lib.rs
/protocol/src/extension.rs